@import "variable";


@mixin netflixLayout{
    height:$h-screen;
    width:$w-full;
}
@mixin loginLayout{
    height:$h-screen;
    width:$w-full;
    overflow-y: $auto;
    &::-webkit-scrollbar{
        display:$d-none;
    }
}

@mixin flexproperty{
    display: flex;
    justify-content:center;
    align-items:center;
}
@mixin videoproperty($wid,$bott,$left){
    position:$absolute;
    width:$wid;
    bottom:$bott;
    left:$left;
    z-index: 1;
}
@mixin scrollproperty{
    position: $absolute;
    top:45%;
    color:$black;
    font-size:17px;
    background:$white;
    border-radius:50%;
    padding:5px;
    opacity:0.8;
    cursor: pointer;
    display:none;
}

@mixin scrollbehaviour{
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width:none;
}