
@import "./sass/variable";
@import "./sass/mixin";

.login-Banner{
  @include loginLayout;
  background-image: url($BANNER_URL);
  background-size: cover;
  background-color:black;

  .login-bg{
    @include loginLayout;
    background-image: $liner-gradient
  }
}

.netflix-banner {
  @include netflixLayout;
  background-image: url($BANNER_URL);
  background-size: cover;
  background-color:black;
  

  .netflix-bg {
    @include netflixLayout;
    background-image: $liner-gradient
  }
  .mainCaption {
    @include flexproperty;
    height: 80vh;
    width: $w-full;
  }
  .default-grid {
    height: 0.5rem;
    position: absolute;
    bottom: -0.5rem;
    background-color: rgb(35, 35, 35);
  }
}
.border-bottom {
  border-bottom: 12px solid rgb(35, 35, 35);
}
.netflix-tv-figure {
  position:$rel;

  .netflix-tv-video {
    @include videoproperty(73%,25%,13%);
    // position:$absolute;
    // width: 73%;
    // bottom: 25%;
    // left: 13%;
    // z-index: 1;
  }
  .netflix-tv-image {
    position:$rel;
    z-index: 2;
  }
  .netflix-diwali-video {
    @include videoproperty(63%,43%,19%);
    // position: absolute;
    // width: 63%;
    // bottom: 43%;
    // left: 19%;
    // z-index: 1;
  }
}

.netflix-accordion {
  background-color: #2d2d2d;
  color: $white;
  margin: 0.3rem 0;

  &:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.Mui-expanded {
    margin: 0.3rem 0;
  }
}
.accordion-summary{
  padding: 9px 23px;
  &.Mui-expanded {
    border-bottom: 1px solid black;
  }

}
.login-form {
  background-color: black;
  opacity: 0.8;
  border-radius:5px;
}
.video-trailer{
  max-width:$w-full;
  width:$w-full;
  aspect-ratio: 16 / 9; 
  border: 0;
}
.video-trailer-bg{
    background:$liner-gradient;
    position:$absolute;
    inset: 0;
}
.netflix-header {
  background:linear-gradient(rgb(20, 20, 20) 0%, transparent);
  box-shadow: none;
  transition: background-color 0.3s;
}

.netflix-header.scrolled {
  background-color:$black;
}

.movie-list{
  .movie-scroll{
    @include scrollbehaviour;
    overflow-x: scroll;
  }
  .caro-icon{
    @include scrollproperty;
  }
  &:hover .caro-icon{
    display: block;
  }
}

// .gpt-movies{
//   @include scrollbehaviour;
//   overflow-y: scroll;
//   border: 1px solid red;
//   height:50vh;
// }
